.dialog-normal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.dialog-normal > div {
  overflow: hidden auto;
  background-color: var(--embedHighlight);
  border-radius: 10px;
  margin: 2em;
  padding: 2em;
  height: 60vh;
  width: 60vw;
  max-width: 500px;
  pointer-events: all;
}

.dialog-normal .close {
  display: block;
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin-left: auto;
}
