.login-wrapper {
  margin: 0 auto;
}

.login-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--embed);
  border-radius: 10px;
  padding: 0 5em;
  height: 60vh;
}

.login-container > img {
  position: absolute;
  width: 32px;
  height: auto;
  top: 2em;
}

.login-container > button {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5em;
  background-color: var(--discord);
}

.login-container > button > svg {
  margin-top: 2px;
  stroke: none;
  width: 16px;
  height: auto;
}
