.maintainers {
  display: grid;
  gap: 2em;
}

.maintainers > .close {
  margin-bottom: -2em;
}

.maintainers > label {
  font-size: 0.85em;
  color: var(--disabled);
  text-transform: uppercase;
  margin-bottom: -1.5em;
}

.maintainers > input {
  border-radius: 0;
  border-bottom: 2px solid var(--embed);
  padding: 1em 0;
  font-size: 1em;
}

.maintainers > input:invalid {
  border-bottom: 2px solid var(--red);
}

.maintainers > div {
  display: grid;
  gap: 2em;
}

.maintainers > div > .profile {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.5em;
  grid-template-areas:
    "icon . btn"
    "icon . btn";
}

.maintainers > div > .profile > img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  grid-area: icon;
}

.maintainers > div > .profile > i:empty {
  width: 20vw;
  height: 22px;
  display: block;
  background-color: var(--grey);
}

.maintainers > div > .profile > i:nth-child(2) {
  font-weight: 600;
}

.maintainers > div > .profile > i:nth-child(3) {
  font-size: 0.85em;
}

.maintainers > div > .profile > i:empty:nth-child(3) {
  width: 15vw;
  height: 18px;
}

.maintainers > div > .profile > svg {
  width: 24px;
  height: 24px;
  grid-area: btn;
  color: var(--red);
  cursor: pointer;
}

.maintainers > div > .profile > svg.owner {
  pointer-events: none;
  color: var(--fable);
}
