.maintainers {
  display: grid;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  gap: 2em;
}

.maintainers > label {
  font-size: 0.85em;
  color: var(--disabled);
  text-transform: uppercase;
  margin-bottom: -1.5em;
}

.maintainers > input {
  border-radius: 0;
  border-bottom: 2px solid var(--embed);
  padding: 1em 0;
  font-size: 1em;
}

.maintainers > input:invalid {
  border-bottom: 2px solid var(--red);
}

.maintainers > i {
  height: 2px;
  background-color: var(--grey);
}

.maintainers > button {
  height: 46px;
}

.maintainers > .group {
  display: flex;
  margin-bottom: 15vh;
  gap: 1em;
}

.maintainers > .group > .entity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--embedHighlight);
  border-radius: 100vw;
  padding: 1em 1.5em;
  gap: 1em;
}

.maintainers > .group > .entity > img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-image: var(--grey);
}

.maintainers > .group > .entity > svg {
  width: 18px;
  height: auto;
  cursor: pointer;
  color: var(--red);
}

.maintainers > .group > .entity > svg.owner {
  color: var(--fable);
}

.maintainers > .group > .entity > div {
  display: flex;
  flex-direction: column;
}

.maintainers > .group > .entity > div:empty {
  width: 52px;
  height: 16px;
  background-color: var(--grey);
}

.maintainers > .group > .entity > div > :nth-child(2) {
  opacity: 0.6;
}
