.media,
.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.maintainers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32px);
  grid-template-rows: repeat(auto-fill, 32px);
  justify-content: center;
  gap: 1em;
}

.media > *:not(i),
.characters > *:not(i) {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 90/127;
  width: auto;
  height: 90px;
}

.maintainers > img {
  width: 100%;
  height: 100%;
}

.media > img,
.characters > img,
.maintainers > img {
  cursor: pointer;
  background-color: var(--grey);
}

.maintainers > img {
  cursor: default;
  color: var(--grey);
  border-radius: 100%;
}

.media > div,
.characters > div,
.maintainers > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--grey);
  border: 2px solid var(--grey);
}

.maintainers > div {
  border-radius: 100%;
}

.media > svg,
.characters > svg {
  width: 32px;
  height: 32px;
}

.maintainers > svg {
  width: 18px;
  height: 18px;
}
