.manage-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: --var(embedHighlight);
}

.manage-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  width: calc(100% - 3em);
  height: calc(100% - 3em);
  gap: 2em;
}

.manage-header {
  display: flex;
  width: 100%;
  height: 48px;
  gap: 2em;
}

.manage-header > .image-input {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.manage-header > input {
  height: 48px;
  flex-grow: 1;
}

.manage-header > button {
  background-color: var(--discord);
  height: 90%;
  margin: auto;
}

.manage-header > svg {
  width: 32px;
  height: 32px;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 850px) {
  .manage-header > :nth-child(3) {
    position: fixed;
    margin: 1.5em 3em;
    height: inherit;
    bottom: 0;
    right: 0;
  }
}

.manage-boxes {
  grid-area: _;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 850px) {
  .manage-boxes {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
  }

  .manage-boxes > div {
    max-width: 400px;
    width: calc(50% - 3em);
    height: calc(50% - 3em);
  }

  .manage-boxes > i {
    flex-basis: 100%;
  }
}

.manage-boxes > div {
  padding: 1em;
  border: 2px solid var(--grey);
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden auto;
  margin: 1.5em;
}
