.metadata {
  display: grid;
}

.metadata .text-input {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.metadata input,
.metadata textarea {
  font-size: 1em;
}

.metadata textarea {
  resize: vertical;
}

.metadata label:not(:empty) {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.85em;
  color: var(--disabled);
  margin: 0.5em 0;
  gap: 0.5em;
}

.metadata .hint:not(:empty) {
  font-weight: 400;
  font-size: 0.8em;
  text-transform: none;
  color: var(--disabled);
  margin: 0 0 0.5em 0;
}

.metadata button {
  width: 100%;
  margin: 1em 0;
}

.metadata button.export {
  background-color: var(--background);
}
