.manage-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.manage-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  width: calc(100% - 3em);
  height: calc(100% - 3em);
  gap: 0.5em;
}

.manage-header {
  display: flex;
  width: 100%;
  height: 48px;
  gap: 1.5em;
}

.manage-header > .image-input {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.manage-header > input {
  border-radius: 0;
  height: 48px;
  flex-grow: 1;
  padding: 0;
}

.manage-header > .buttons {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  margin: 1.5em 3em;
  height: inherit;
  bottom: 0;
  right: 0;
  gap: 1em;
}

.manage-header > .buttons > button:first-child {
  background-color: var(--discord);
}

.manage-header > .buttons > button {
  height: 46px;
}

.manage-header > svg {
  width: 28px;
  height: 28px;
  margin: auto;
  cursor: pointer;
}

.manage-header > .info {
  scale: 0.8;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs > div {
  padding: 1em 2em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.tabs > div[data-selected="true"] {
  border-bottom: 2px solid var(--foreground);
}

.tabs > div:not([data-selected="true"]) {
  color: var(--disabled);
}

.tabs > div:not([data-selected="true"]):hover {
  border-bottom: 2px solid var(--grey);
}

.metadata {
  display: grid;
}

.metadata .text-input {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.metadata input,
.metadata textarea {
  font-size: 1em;
}

.metadata textarea {
  resize: vertical;
}

.metadata label:not(:empty) {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.85em;
  color: var(--disabled);
  margin: 0.5em 0;
  gap: 0.5em;
}

.metadata .hint:not(:empty) {
  font-weight: 400;
  font-size: 0.8em;
  text-transform: none;
  color: var(--disabled);
  margin: 0 0 0.5em 0;
}

.metadata button {
  width: 100%;
  margin: 1em 0;
}
