.manage-dialog-media {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 2em;
}

.manage-dialog-media > .buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  gap: 1em;
}

.manage-dialog-media > .buttons > svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.manage-dialog-media > .buttons > svg:nth-child(2) {
  color: var(--red);
  scale: 0.8;
}

.manage-dialog-media > .image-input {
  width: auto;
  height: 192px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 90/127;
  grid-area: 1 / 1 / 4 / 2;
}

.manage-dialog-media .text-input {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.manage-dialog-media .text-input:not(:nth-child(3)) {
  margin: 2em 0;
}

.manage-dialog-media input,
.manage-dialog-media textarea {
  font-size: 1.1em;
  resize: vertical;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--embed);
  border: 2px solid var(--embed);
}

.manage-dialog-media input:invalid,
.manage-dialog-media textarea:invalid {
  border: 2px solid var(--red);
}

.manage-dialog-media textarea {
  min-height: 120px;
}

.manage-dialog-media label {
  text-transform: uppercase;
  font-size: 0.85em;
  opacity: 0.45;
  margin: 0.5em 0;
}
