.media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.media > *:not(i) {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 90/127;
  width: auto;
  height: 90px;
}

.media > img {
  cursor: pointer;
  background-color: var(--grey);
}

.media > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--grey);
  border: 2px solid var(--grey);
}

.media > svg {
  width: 32px;
  height: 32px;
}
