.media {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 15vh;
}

.media:empty::after {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  content: "Empty";
  font-weight: 600;
  margin: 2em;
}

.media > .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid var(--grey);
  padding: 1em;
  gap: 2em;
}

.media > .item > i {
  flex-basis: 100%;
}

.media > button {
  width: 100%;
  margin: 1em 0;
  background-color: transparent;
}

.media > button:hover {
  background-color: var(--embedHighlight);
  box-shadow: none;
}

.media > .item:first-child {
  font-weight: 600;
}

.media > .item:not(:first-child) {
  cursor: pointer;
}

.media > .item:not(:first-child):hover {
  background-color: var(--embedHighlight);
}

.media > .item > img {
  object-fit: cover;
  object-position: center;
  background-color: var(--grey);
  aspect-ratio: 90/127;
  width: auto;
  height: 90px;
}

.media > :first-child > :first-child {
  margin-left: calc(90px * (90 / 127));
}

.media[data-layout="1"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  gap: 2em;
}

.media[data-layout="1"] > .item {
  border-bottom: 0;
  padding: 0;
}

.media[data-layout="1"] > .item:first-child {
  display: none;
}

.media[data-layout="1"] > .item > :not(:first-child) {
  display: none;
}

.manage-dialog-media {
  display: grid;
  overflow: hidden;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  column-gap: 1.5em;
  grid-template-areas:
    "b b"
    "i ."
    "i ."
    "i ."
    "other other";

  height: 80% !important;
  width: 80% !important;
  max-width: 680px !important;
}

.manage-dialog-media > .buttons {
  grid-area: b;
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  gap: 1em;
}

.manage-dialog-media > .buttons > svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.manage-dialog-media > .buttons > svg:nth-child(2) {
  color: var(--red);
  scale: 0.8;
}

@media (max-width: 600px) {
  .manage-dialog-media {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.manage-dialog-media .text-input,
.manage-dialog-media .select {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.manage-dialog-media > :nth-child(4) {
  margin: 1em 0 0 0;
}

.manage-dialog-media > .other {
  grid-area: other;
  margin: 1em 0 0 0;
}

.manage-dialog-media > .other > :not(:first-child) {
  margin: 1em 0 0 0;
}

.manage-dialog-media input,
.manage-dialog-media textarea,
.manage-dialog-media select {
  font-size: 1.1em;
  resize: vertical;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--embed);
  border: 2px solid var(--embed);
}

.manage-dialog-media input:invalid,
.manage-dialog-media textarea:invalid {
  border: 2px solid var(--red);
}

.manage-dialog-media select[data-warning="true"] {
  border: 2px solid var(--fable);
}

.manage-dialog-media textarea {
  min-height: 120px;
}

.manage-dialog-media .label:not(:empty) {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.85em;
  color: var(--disabled);
  margin: 0.5em 0;
  gap: 0.5em;
}

.manage-dialog-media .label svg {
  width: 1.4em;
  height: auto;
}

.manage-dialog-media .hint {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--disabled);
  margin: 0 0 0.5em 0;
}

.manage-dialog-media .group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.manage-dialog-media .group-colum {
  display: flex;
  flex-direction: column;
}

.manage-dialog-media .group > * {
  flex-grow: 1;
}

.manage-dialog-media .group > svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-grow: unset;
}

.manage-dialog-media .rating > div {
  display: flex;
  align-items: center;
  padding: 0.25em 0;
}

.manage-dialog-media .rating .button {
  width: 28px;
  height: auto;
  cursor: pointer;
}

.manage-dialog-media .rating > div > div:nth-child(1) {
  margin-right: auto;
}

.manage-dialog-media .rating > div > div:nth-child(2) {
  display: flex;
  gap: 0.5em;
}

.manage-dialog-media .rating .star {
  width: 28px;
  height: auto;
  fill: var(--disabled);
  pointer-events: none;
  transition: fill 0.25s;
}

.manage-dialog-media .rating .star[data-on="true"] {
  fill: var(--fable);
}

.manage-dialog-media .aliases {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  gap: 0.5em;
}

.manage-dialog-media .alias {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--embed);
  border-radius: 100vw;
  padding: 1em 1.5em;
  gap: 0.5em;
}

.manage-dialog-media .alias > svg {
  width: 16px;
  height: auto;
  cursor: pointer;
}

.manage-dialog-media .alias > svg.delete {
  color: var(--red);
}

.manage-dialog-media .alias input {
  border: 0;
  padding: 0;
  border-radius: inherit;
  background-color: inherit;
  width: 180px;
}

.manage-dialog-media .alias input:invalid ~ svg {
  pointer-events: none;
  opacity: 0.5;
}

.manage-dialog-media .relations {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  gap: 0.5em;
}

.manage-dialog-media .relation {
  display: flex;
  align-items: center;
  gap: 1em;
}

.manage-dialog-media .relation > i {
  flex-grow: 1;
  font-weight: 700;
}

.manage-dialog-media .relation > .select {
  flex-grow: 1;
}

.manage-dialog-media .links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.manage-dialog-media .links > button {
  background: none;
}

.manage-dialog-media .links > .notice {
  border: 0;
  background: var(--embed);
  margin: 0;
}
