.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  background-color: var(--embed);
  border-radius: 5px;
  border: 2px solid var(--grey);
  margin: 1em 0;
  padding: 1em;
  gap: 1em;
}

.notice > div {
  margin-right: auto;
}

.notice-dismissible {
  z-index: 99;
  cursor: pointer;
  position: fixed;
  max-width: 50vw;
  min-width: 20vw;
  margin: 1.3em;
  bottom: 0;
  right: 0;
}

.notice > svg {
  min-width: 18px;
  min-height: 18px;
}

.notice[data-type="error"] > svg {
  color: var(--red);
}

.notice[data-type="warn"] > svg {
  color: var(--fable);
}
