.user {
  cursor: pointer;
  position: fixed;
  width: 32px;
  height: 32px;
  top: 2em;
  right: 2em;
  border-radius: 100%;
}

.user-dialog {
  top: calc(2em - 3px);
  right: calc(3.5em + 32px);
}

.user-dialog button {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5em;
  background-color: var(--red);
}
